html *{
  font-family: 'Dosis', sans-serif !important;
}

.blueBackgroundColor {
  background-color: #222745;
}

.darkBlueBackgroundColor {
  background-color: #131626;
}

.bottomSectionSize {
  width: 100%;
  height: 150pt;
}

.btn-primary {
  font-size: 10pt;
  font-weight: 700;
  color: #D8DCF2;
  background-color: transparent;
  border-radius: 6pt;
  border: 1;
  border-color: #8692D8;
}

.btn-primary:hover {
  background-color: rgba(134, 146, 216, 0.2);
  border-color: #8692D8;
}

.social-button {
  padding: 0pt;
}

#space-below-main-nav-buttons {
  margin-bottom: 150pt;
}

input[type=email] {
  font-size: 10pt;
  border: 1px solid #8692D8;
  border-radius: 6pt;
  padding: 6px 12px;
  color: #222745;
  width: 100%
}

.email-button {
    float: right;
}

.email-input-span {
    display: block;
    overflow: hidden;
    padding-right: 6pt;
}

::-webkit-input-placeholder { /* Edge */
  color: #A4ADDE;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A4ADDE;
}

::placeholder {
  color: #A4ADDE;
}
